body {
    font-size: medium;
    font-family: "Work Sans", sans-serif;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav a {
    color: black; /* Mengubah warna tulisan link menjadi hitam */
    text-decoration: none; /* Menghilangkan garis bawah pada link */
    margin-right: 20px; /* Memberikan jarak antar link */
}

#home {
  background-image: url(../assets/building.png);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: flex;
  align-items: center;
  padding-left: 20px;
}

#headquarters {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}

.headquarters-content {
    display: flex;
    justify-content: center;
    gap: 60px; /* Memberi jarak antar gambar */
    margin-top: 20px; /* Jarak antara judul dan gambar */
}

.headquarters-content img {
    width: 100px; /* Ukuran lebar gambar */
    height: 100px; /* Ukuran tinggi gambar */
    object-fit: cover; /* Memastikan gambar tetap rapi saat diubah bentuk */
    border-radius: 50%; /* Membuat gambar menjadi lingkaran */
    border: 3px blue solid; /* Garis tepi biru opsional */
}

.headquarters-content p {
    margin-top: 10px;
    font-weight: bold;
}

#message {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap; /* Mengizinkan item untuk pindah ke baris baru */
    justify-content: space-around;
    padding: 50px;
    align-items: flex-start; /* Mengatur alignment vertikal */
}

footer {
    text-align: center;
    padding: 20px 0;
}